------- Site 1 Gateway (gotoadmins-client) ------- 

10.25.55.0/24 10.16.0.0/24 : PSK "35dB2WfNAYW2WjAp"

------- Site 2 Gateway (client-gotoadmins) ------- 

 10.16.0.0/24 10.25.55.0/24 : PSK "35dB2WfNAYW2WjAp"


