
config setup
        charondebug     =   "all"
        uniqueids       =   yes
        

conn gotoadmins-to-client
        authby          =       secret
        left            =       %defaultroute
        leftid          =       10.16.0.12
        leftsubnet      =       10.16.0.0/24
        right           =       10.25.55.200
        rightsubnet     =       10.25.55.0/24
        ike             =       aes256-sha2_256-modp1024!
        esp             =       aes256-sha2_256!
        keyingtries     =       0
        ikelifetime     =       8h
        lifetime        =       1h
        dpddelay        =       30
        dpdtimeout      =       120
        dpdaction       =       restart
        auto            =       start

